<script>
    const name = 'Erik';
    const favoriteThings = ['music', 'art', 'science'];
</script>


<p>My name is {name} and these are some of my favourite things: {favoriteThings[0]}, {favoriteThings[1]}, {favoriteThings[2]}.</p>
