<script>
  export let margin_y = 5;
  export let clientHeight = 0;
</script>

<div
  id="card"
  class="d-flex flex-row justify-content-center my-{margin_y}"
  bind:clientHeight
>
  <slot />
</div>

<style>
  div {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
  }
</style>
