<script>
  import {scaleLinear} from 'd3-scale';
  import {schemeDark2} from "d3-scale-chromatic";
  import {scaleOrdinal} from "d3-scale";


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xAxisScaler = scaleLinear().domain([0, 10]).range([0, innerWidth]);
  const yAxisScaler = scaleLinear().domain([3, 0]).range([0, innerHeight]);
  const oridnialScaler = scaleOrdinal().domain(["cat1", "cat3"]).range(schemeDark2);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1="{margin.left}" y1="{innerHeight}" x2="{innerWidth}" y2="{innerHeight}" stroke="black" />
    {#each values as value}
      <circle cx={xAxisScaler(value.x)} cy={yAxisScaler(value.y)} r=5 fill="{oridnialScaler(value.category)}" />
      <line x1="{xAxisScaler(value.x)}" y1="{innerHeight}" x2="{xAxisScaler(value.x)}" y2="{yAxisScaler(value.y) + 5}" stroke="black" />
      <text class="valueLabel" x={xAxisScaler(value.x)} y={yAxisScaler(value.y)-10}>{value.y}</text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
