<script>
  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from "d3-scale";
  import {extent} from "d3-array";
  import {axisBottom, axisLeft} from "d3-axis";
  import {select} from "d3-selection";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  let services = [];
  for(const d of data){
    services.push(d.service);
  }

  const xAxisScaler = scaleBand().domain(services).range([0, innerWidth]);
  const yAxisScaler = scaleLinear().domain([0, 3]).range([innerHeight, margin.bottom]);
  const bottomAxisVar = axisBottom(xAxisScaler);
  const leftAxisVar = axisLeft(yAxisScaler);

  function addLeftAxis(){
    select("#leftAxisVar").call(leftAxisVar);
  }
  function addBottomAxis(){
    select("#bottomAxisVar").call(bottomAxisVar);
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <text x="-50" y=130 transform="rotate(-90 0 115)">viewers</text>
  <g id="leftAxisVar" use:addLeftAxis transform={`translate(${margin.left-20},${margin.top})`}>
  </g>
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as d}
      <rect x={xAxisScaler(d.service)} y={yAxisScaler(d.viewers)} height={innerHeight - yAxisScaler(d.viewers)} width=50 fill="skyblue"/>
    {/each}
  </g>
  <g id="bottomAxisVar" use:addBottomAxis transform={`translate(${40}, ${height-margin.bottom})`}></g>
  <!-- <g use:addLeftAxis id="left-axis"></g> -->
</svg>
